
<!DOCTYPE html>
{% load breakfast_template_tags %} 
{% load staticfiles %}
<html> 
    <head>
        <title> 
            Breakfast -
            {% block title_block %}
                World of Breakfast
            {% endblock %} 
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static "js/breakfast.js" %}"></script>
    </head> 
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <li class="active"><a class="navbar-brand" href="{% url 'home' %}" style="background-color: #00394d;"><strong>World of Breakfast</strong></a></li>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="#"><a href="{% url 'home' %}"><strong>Home</strong></a></li>
              <li><a href="{% url 'about' %}"><strong>About</strong></a></li>
              <li><a href="/search/"><strong>Search Recipes</strong></a></li>
              <li><a href="{% url 'contact_us' %}"><strong>Contact us</strong></a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'auth_logout' %}?next=/breakfast/"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
                  <li class="active"><a href="{% url 'my_account' user.username %}" style="background-color: #00394d;"><span class="glyphicon glyphicon-user"></span> Hi,{{ user.username }} || Account </a></li>
                {% else %}
              <li><li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" role="search" style="width: 500px;">
                <div class="form-group input-group">
                  <input type="text" class="form-control" placeholder="Search.." style="width: 400px;">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>        
                </div>
              </form>
              <ul></ul>
          </div>
        </div>
      </nav>
      <div>
        {% block body_block %} 
        {% endblock %}
      </div> 
      <div>
        <br> 
      </div>
      <!-- <footer class="container-fluid text-center">
        <p>World of Breakfast</p>
        <p>"Start your day the global way"</p>
      </footer> -->
    </body> 
</html>